.cabecalho { 
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  color: red;
  display: flex;
  background-color: #150808
  
}

.cabecalho-imagem {
  width: 30%;
  
  
}

.cabecalho-lista-item { 
  font-size: 10px;
  margin: 0 5px;
  display: inline-block;
  
}

*{
  margin: 0;
  padding: 0;
}

.Garena-imagem{
  margin: 0 10px;
  width: 37%;}
  
.Garena{padding: 70px 0;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  background-image: linear-gradient(#150808,#6F1616)}
  
  .Garena-titulo{margin: 0 70px;
    padding: 24px 0;
    color: red}
  
  .Garena-div-conteudo{
    width: 65%}
    
    .Garena-texto-um{margin: 0 20px;}
    .Garena-texto-dois{margin: 0 20px;}
    
    .Garena-fundador {width: 120px;
      
    }
    .Garena-dois{align-items: center;
      justify-content: space-between;
      color: white;
      display: flex;
      background-color: #6F1616}
      
    .Garena-titulo-dois{margin: 0 70px;
      padding: 24px 0;
      color: red;}
    
    .Garena-texto-tres{
      margin: 0 0px;}
      
    .Garena-texto-quatro{
      margin: 0 0px}
      
    .Garena-texto-cinco{margin: 0 0px}
   